body {
    background: #343434;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

#header {
    background-color: black;
    height: 50px;
}

#header img {
    height: 50px;
}

#header h1 {
    float: right;
    font-size: 14px;
    font-weight: 300;
    align-content: center;
    margin-top: 16.5px;
    padding-right: 50px;
}

#sidebar {
    float: left;
    width: 15%;
}

#content {
    float: right;
    width: 85%;
}

#content iframe {
    width: 100%;
    border: none;
}

footer {
    clear: both;
    align-content: center;

}