body {
    background: #343434;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    font-weight: bold;
}

#header {
    background-color: black;
    height: 50px;
    margin-bottom: 5px;
}

#header img {
    height: 50px;
}

#header h1 {
    float: right;
    height: 50px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    
    padding-right: 50px;
}

#sidebar {
    float: left;
    width: 150px;
    margin-left: 5px;
    line-height: 1.5em; 
}

#content {
    float: right;
    width: 83%;
}

#content iframe {
    width: 100%;
    border: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    #header h1 {
        display: none;
    }
}