#login {
    margin: auto;
    margin-top: 25%;
    width: 200px;
    border: 5px solid #121212;
    border-radius: 15px;
    padding: 10px;
    background: #565656;
}

#login-form {
    display: grid;
    grid-template-columns: 50% 50%;
}

